<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>435534031148-3adb4tg1dhm40gseg5kv0up56raginjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435534031148-3adb4tg1dhm40gseg5kv0up56raginjn</string>
	<key>API_KEY</key>
	<string>AIzaSyAY60xZZ9Pqp9oRcp_COecEFarLMmLqkhk</string>
	<key>GCM_SENDER_ID</key>
	<string>435534031148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bizland.iOS</string>
	<key>PROJECT_ID</key>
	<string>bizland-1506313424704</string>
	<key>STORAGE_BUCKET</key>
	<string>bizland-1506313424704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435534031148:ios:bc528cb9a7a6a96f</string>
	<key>DATABASE_URL</key>
	<string>https://bizland-1506313424704.firebaseio.com</string>
</dict>
</plist>