<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
  <key>LSRequiresIPhoneOS</key>
  <true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ứng dụng này cần truy cập vị trí của bạn để có thể đề cử xe phù hợp, bạn có cho phép ứng dụng sử dụng vị trí của bạn không?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Bạn có cho phép ứng dụng này luôn sử dụng vị trí của bạn không?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Bạn có cho phép ứng dụng này sử dụng vị trí hiện tại của bạn không?</string>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần truy cập quyền Camera của bạn.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần truy cập quyền Thư viện ảnh của bạn.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone for video</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng cần truy cập quyền Thư viện ảnh của bạn.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Bizland cần bạn cho phép truy cập lịch của bạn để chọn thời gian, bạn có cho phép ứng dụng truy cập lịch của bạn không?</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Bizland</string>
	<key>CFBundleIdentifier</key>
	<string>com.companyname.Bizland</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>FacebookAppID</key>
	<string>2202506213306972</string>
	<key>AccountKitClientToken</key>
	<string>4dce1fa8b85d11eb1dd0680871236da0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Media.xcassets/AppIcons.appiconset</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>vi</string>
	</array>
	<key>CFBundleName</key>
	<string>Bizland</string>
	<key>XSLaunchImageAssets</key>
	<string>Media.xcassets/LaunchImages.launchimage</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>

  <key>UIAppFonts</key>
  <array>
    <string>materialicons.ttf</string>
    <string>fontawesome.ttf</string>
    <string>iconize-fontawesome-regular.ttf</string>
    <string>iconize-fontawesome-solid.ttf</string>
    <string>iconize-fontawesome-brands.ttf</string>
  </array>
</dict>
</plist>
